/* ----- =General ----- */
body {
	background:#fff;
	background-repeat:repeat;
}

body.concrete {background-image:url(images/concrete.jpg);}
body.pattern1 {background-image:url(images/pattern1.png);}
body.pattern2 {background-image:url(images/pattern2.png);}
body.pattern3 {background-image:url(images/pattern3.png);}
body.pattern4 {background-image:url(images/pattern4.png);}
body.pattern5 {background-image:url(images/pattern5.png);}

#page {
/*	background:url(images/page-shadow.png) repeat-y top center; */
	overflow:hidden;
}


#main {
	background:#ffffff;
	position:relative;
	padding:0;
}
.container{}

#main .span3:first-child{margin-left:7px;}

@media (max-width:1025px){
	#page {
		padding:0;
	}
}

#featured {
	border-bottom:#B4470F 1px solid;
}

footer{}
/* ----- =Typography ----- */

/* Load fonts */

@font-face {
    font-family: 'francoisOneRegular';
    src: url('fonts/FrancoisOne-webfont.eot');
    src: url('fonts/FrancoisOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FrancoisOne-webfont.woff') format('woff'),
         url('fonts/FrancoisOne-webfont.ttf') format('truetype'),
         url('fonts/FrancoisOne-webfont.svg#FrancoisOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('fonts/SinkinSans-300Light-webfont.eot');
    src: url('fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-300Light-webfont.woff') format('woff'),
         url('fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('fonts/SinkinSans-400Regular-webfont.eot');
    src: url('fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans500_medium';
    src: url('fonts/SinkinSans-500Medium-webfont.eot');
    src: url('fonts/SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-500Medium-webfont.woff') format('woff'),
         url('fonts/SinkinSans-500Medium-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-500Medium-webfont.svg#sinkin_sans500_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('fonts/SinkinSans-600SemiBold-webfont.eot');
    src: url('fonts/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-600SemiBold-webfont.woff') format('woff'),
         url('SinkinSans-600SemiBold-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansumiExtraBoldRegular';
    src: url('fonts/Sansumi-ExtraBold-webfont.eot');
    src: url('fonts/Sansumi-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansumi-ExtraBold-webfont.woff') format('woff'),
         url('fonts/Sansumi-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/Sansumi-ExtraBold-webfont.svg#SansumiExtraBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	color:#505050;
	font-family:Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height:1.65em;
}

p{margin:0 0 18px;}
p.lead{
	font-size:17px;
	line-height:30px;
	margin:0 0 18px;
}
p.nm {
  margin:0;
}

#main-content p,
#main-content ul,
#main-content ol {
  font-size: 1.33em;
  line-height: 1.55em;
  font-family: 'OpenSansLight';
}

.client-pub-spacing {
}

#main-content a, strong {
  font-family: "Open Sans",sans-serif;
  font-weight: normal;
}

ul,ol{margin:0 0 1.538em 1.8em;}
li {margin:0 0 0.3em;}
section ul{margin-top:-12px;}

small{font-size:0.846em;} /* 11px */

blockquote {
  border-left-width:2px;
	border-left-color:#e34d25;
  margin-left:30px;
}
blockquote.pull-right {
  border-right-color:#e34d25;
  margin-right:30px;
}

.pullquote {border-color:#e34d25;}

.dropcap {
	float:left;
	font-size:52px;
	font-weight:bold;
	line-height:1em;
	padding-right:8px;
}

h1,h2,h3,h4,h5,h6{
  display:block;
}

h1,h2,h3,h4,h5,h6, strong{
	font-weight:normal;
}

h1.nm,h2.nm,h3.nm,h4.nm,h5.nm,h6.nm{margin-bottom:6px;}
h1.nb,h2.nb,h3.nb,h4.nb,h5.nb,h6.nb{font-weight:normal;}

a {
	color:#C46C3F;
}

a:hover{
	color:#b05307;
	text-decoration:none;
}

pre {
  margin-bottom:24px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

dl {
  margin:0 0 18px;
}

#main-menu {
	background:#fff;
	margin-bottom:0;
	border-bottom:#B4470F 1px solid;
}

/* ----- =Footer ----- */

footer {
	background:#666640;
  padding-top: 50px;
}

footer *[class*='span'] {margin-left: 12px;}


#footer-main {
  padding:0 23px;
}

.footer-column {
	margin-bottom:0;
}

#footer-stripe {
	background:#000000;
	color:#f5f5f5;
	height:30px;
	line-height:30px;
	padding:0 23px;
}

#footer-stripe .block-title {
	border-bottom:none;
	display:inline-block;
	font-size:14px;
	padding-bottom:0;
	margin-bottom:0;
}

#footer-stripe p {
  margin-bottom:0;
}

#footer-stripe .content {
	display:inline-block;
}

#footer-stripe li {
	display:inline-block;
}

.region-footer-stripe-right {
  text-align:right;
}
/*** HCC MODS ****/

/* Overall styles */
.frame{border:#ccc 1px solid; margin-bottom: 100px;}
header {padding: 30px 0;}
.header-color-left{background:#4A4D1A; width:50px; height:102px; position:absolute;}
.header-color-right{background:#01529C; height:87px; z-index:50;}
.color-right{/*background:#01529C; width:100%; height:87px;*/}
.color-left{height:102px;width:50%; background:#4A4D1A;}
.field-type-taxonomy-term-reference, .dontshow{display:none;}
.blog-menu div{margin-bottom:10px;}
#main-menu ul.menu{float:right; margin-right:40px;}
.table_imgs{}
.table_imgs td{padding:0 17px 35px 0; vertical-align:middle; }
.table_imgs img{float:right;}
tbody{border:none;}
#main-content{margin:50px 15px 0 40px; padding-bottom: 50px;}
#main-content li{margin-bottom:3px;}
.leftcolshim{border-top:#F3D091 1px solid; margin-top:112px;}
.leftcolshim p{margin:0;}
.form-item-search-block-form input{font-size:0.8em;}
h1, h2, h3 {font-weight: normal;}
em,cite, .project_aside{font-family:'OpenSansItalic'; font-style:normal;}
.home-block a{font-family:'sinkin_sans300_light';}
.fb-module a {font-family: 'sinkin_sans500_medium';} 
h1{font-family: 'sinkin_sans300_light'; color:#02529D; margin-bottom:18px; line-height:1.45em; font-size:2.2em;}
h2{font-family: 'sinkin_sans500_medium'; color:#4E5463; margin:10px 0 3px 0; font-size:1.44em; line-height:1.4em;}
h3{font-family: 'sinkin_sans500_medium'; color:#5C5C3B; font-size:1.2em; margin:0; line-height:1.8em;}
#site-map h2, .bottom_space{margin-bottom:12px;}
.no-bullet li{list-style:none;}
.offscreen{position:absolute; left:3000000000000px;}
.node-portfolio-piece img{border:#ccc 1px solid;}
.field-type-image img{float:left; margin:7px 15px 10px 0;}
.center-img{display:block; margin:0 auto;}
.block-search {margin-top: 20px; font-size: 1.4em;}
.blog-readmore {text-transform: uppercase; margin: -15px 0 20px 0;}
#main-content .blog-readmore a {font-size: 0.9em;}
.node-article .field-type-image img {border: #000 1px solid;}

/*
.hccfooter{float:right; margin-left:60px;}
*/
.hccfooter-margin{margin-left:24px;}
.hccfooter{margin-top:20px; padding:10px 0; border-top:#D7E4EF 6px solid;}
.footerimgs{margin-top:5px;}
.footerimgs img{margin-bottom: 30px;}
.footer-menu-credit, .footermenu li, .footerimgs, .footerimgs img{float:left;}
.footercredit{clear:both; font-size:0.85em; margin-left:10px;}
.footer-menu {margin: 6px 0 0 25px;}
.footer-menu p, .footer-menu a{color: #fff;}
.footermenu{margin:0;}
.footermenu li{list-style:none; border-right:#fff 1px solid; padding:0 10px; line-height:1em;}
.footermenu li:last-child{border-right:none;}

.headline{color:#3895BC; font-family:'ralewaylight'; font-size:1.4em; line-height:1.4em;}
.quoteright{text-align:right;  margin:0px 0 15px 0; padding-right:20px;}
.floatleft{float:left; margin-right:20px;}
#main-content .field-name-field-pi-or-project-lead p {font-family:'OpenSansLight'; font-size:1.6em; color:#6A6B1F; line-height:1.4;}

/* ----- =Sidebar ----- */

#sidebar {
	/*background:url('images/leftcol_tile.jpg') 100% 0 repeat-y;*/
	border-right:#B4470F 2px solid;
	padding:0 20px 30000px 40px;
	margin-bottom:-30000px;
	line-height:1.4em;
}

#sidebar .block { 
	margin-bottom:0px;
}



/* sidenav */
#sidebar h3{font-family:'sinkin_sans600_semibold'; letter-spacing:0.25em; text-transform:uppercase; color:#02529D; font-size:0.8em; line-height:1.5em; margin-bottom:10px;}
#sidebar .menu, .blog-menu ul{margin-left:0;}
#sidebar .menu li, .blog-menu li, .home-block a {font-size:1.03em;}
#sidebar .menu li li {font-size: 0.95em;}
#sidebar .menu li, .blog-menu li {list-style:none; line-height:1.56em; padding-bottom:15px; margin-bottom:0; font-family: 'sinkin_sans300_light';}
#sidebar .menu ul{margin-top:8px;}
#sidebar .menu .active, #sidebar .menu .active-trail{color:#000;}
.submenu ul{margin-right:15px;}
.submenu li{text-align:right; padding-bottom:15px;}
.submenu a{font-size:1.4em; line-height: 1.2em;}
.submenu a:hover, .submenu a.active{color:#00466B;}
.submenu a:hover, .topmenu a:hover{text-decoration:none;}
.home_area .fb-module p{margin: 0 -25px;}
.home_area #sidebar .fb-module{margin-bottom:25px;}
.home_area .fb-module .fb-button{background-position:85% 50%; padding: 10px 25px; }
.fb-module p{margin: -5px -20px 70px;}
.fb-module .fb-button{font-size:1.12em;}
.fb-module .fb-button{display:block; background:#B4470F url('images/fb_reverse.gif') 92% 50% no-repeat; padding: 10px 20px; color:#fff;}
#sidebar .home-block{margin-bottom:20px;}

/* Top menu */
.topmenu {margin-bottom:14px; min-width:200px;}
.topmenu .content{float:right;}
.topmenu ul li, .topmenu ul li.leaf{float:left; list-style-none; list-style-image:none; list-style-type:none;}
.topmenu ul{margin:0;}
.topmenu ul.menu li{border-right:#A03B22 1px solid; line-height:1em; padding:3px 12px; margin:0;}
.topmenu ul.menu li:last-child{border:none; padding-right:0;}
.topmenu a{font-size:0.95em; color:#A03B22;}
.topmenu a:hover{color:#000;}
.block-search label{position:absolute; left:-10000px;}

/* project pages */
.project_aside{color:#9E876B; background:#FFFCEB; border:#F3D091 1px solid; padding:17px 30px;font-size:1.1em; line-height:1.6em; margin:20px 0 30px -31px;}
#inside_header{margin:0 0 -58px 0;}
#inside_header p{margin:0;}

/* homepage stuff */
.ls-exchange {background:#8ea5b7;}
.rotator-overlay{background-color:rgba(0, 0, 0, .58) !important; font-size:1.1em !important;}
.rotator-overlay p{opacity:1; margin:0 0 10px 0;}
.home_message{position:relative; background:#fff; padding:8px 10px 10px; border-top:#02529D 3px solid; border-bottom:#02529D 3px solid;}
.home_message h1{color:#02529D; margin:10px 0 10px 28px; line-height:1em; font-size:2.0em;}
.home_area .span9{float:right; margin:20px 15px 0 0 ; width:755px;}
.home_copy h1, .home_contact h1 {font-size:2.6em;}
.home_copy ul, .home_contact p{font-size: 1.4em; color:#02529D; font-family:'OpenSansLight'; }
.home_contact p {margin-left: 50px;}
.home_copy{width:95%; }
.home_copy ul{line-height:1.3em;}
.home_copy h1{margin:20px 0 17px 0; padding:0; line-height:1.0em;}
.home_copy .tagline{font-family:'sinkin_sans400_regular'; color:#6A6B1F; font-size:1.3em; line-height: auto; text-transform: uppercase;}
.home_copy ul{padding-left:25px; margin:28px 0; width:80%;}
.home_copy li{list-style:none; background:url('images/newbullet.gif') 0 8px no-repeat; padding:0 0 13px 30px;}
.home_contact{position:relative; margin-bottom:120px;}
.home-resource .meta{display:none;}
.home-resource h2{margin-bottom:8px;}
#sidebar .home-resource li{list-style:none; margin:0 0 13px 0;}
.home_area #sidebar{padding-left:25px; padding-right:25px;}

/* News archive */
.news-archive{text-align:right; padding-right:15px;}
.news-archive h3{ margin:-10px 0 15px 0;}
.news-archive .item-list ul li{margin-bottom:10px; }
#sidebar .news-archive ul li{list-style-image:none; list-style-type:none;}

.news-first-image img {
  float: left;
  margin: 7px 25px 5px 0;
}

#sidebar .view-client-puiblications .view-content{
  font-size: 100%;
}

#sidebar .view-client-puiblications .views-row {
  margin: 0;
}

.client-publications img {
  margin-bottom: 5px;
}

.view-client-puiblications .view-content{
  font-size: 85%;
}

.view-client-puiblications .views-row {
  margin: 20px 0 30px 0;
}

.view-client-puiblications p {
  margin-bottom: 2px;
}

div.footer_logos{margin: 10px 0 0 0;}
div.footer_logos, div.footer_logos a{float:left;}
.footer_logos a{position:relative;}
div.footer_logos a{margin-right:40px;}
div.footer_links{float:right; text-align:right;margin-right:0; }
div.footer_links nav ul, div.footer_links nav li{list-style-image:none; list-style:none;}
div.footer_links, div.footer_links nav a, div.footer_links .legal a{color:#D8CFC4;}
div.footer_links nav li{background:none; padding:0 13px; border-right:#bbb 1px solid; height:auto; line-height:1em; float:left;}
div.footer_links nav li:last-child{padding-right:0; border:0;}
div.footer_links nav a { padding:0; display:inline; font-size:1em;}
div.footer_links nav ul{float:right;}
div.footer_links .legal,div.footer_links .legal a {}
div.footer_links .legal{clear:right; font-size:.65em; line-height:1.6em;}
div.footer_links .legal a{ text-decoration:underline; margin-left:3px;}

/* ----- =Portfolio ----- */
.view-portfolio{margin-bottom:20px;}
.view-portfolio .view-content:after{content:""; display:block; clear:both;}
.portfolio-piece {float:left; margin:0 25px; width:190px; height:380px; }
.portfolio-piece h2,
#main-content .portfolio-piece p {line-height:1.3em; font-size: 1.2em;}
.portfolio-piece h2{font-family: 'Open Sans';}
.node-portfolio-piece.node-full img{margin:18px 0 30px;}
.node-portfolio-piece .field-collection-view{margin:0;}
/* ----- =Header ----- */

#topbar {
	background:#000000;
	color:#f5f5f5;
	height:30px;
	line-height:30px;
	padding:0 23px;
}

#topbar .block-title {
	border-bottom:none;
	display:inline-block;
	font-size:14px;
	padding-bottom:0;
	margin-bottom:0;
}

#topbar .content {
	display:inline-block;
}

.region-topbar-right {
	text-align:right;
}

#topbar li {
	display:inline-block;
}

header#top {
  background:#1C59AC;
	position:relative;
}

header#top .row {
}

#branding {
}

/*
#branding #logo {
	margin-left:-30px;
}
*/

#branding #logo {
}

#branding #logo img {
  padding-left: 20px;
  margin:0;
}

#name-and-slogan {
}

#site-name {
  font-size:36px;
  font-weight:bold;
  line-height:1em;
  margin:0;
}

#site-name a {
	color:#f7f7f7;
	text-decoration:none;
}

#site-slogan {
	font-size:0.846em;
	font-style:italic;
	line-height:1em;
  margin-top:8px;
}

.region-header {
}

.region-header .block {
	float:right;
}

#main-menu.responsive .open-menu {
	cursor:pointer;
	display:block;
	position:relative;
	background:#fff;
	margin-bottom:-1px;
	font-size:1.5em;
	padding-left:50px;
}

#main-menu.responsive a.open-menu:before {  
	content:"";
	background:url(images/open-menu_orange.png) no-repeat;
	width:18px;
	height:12px;
	display: inline-block;  
	position:absolute;
	left:20px;
	top:15px;
}

.img-spacer {margin: 15px 0 40px 0;}

@media (max-width:1025px){
	#topbar {
		padding:0 20px;
	}

}

/** Tablet **/
@media (max-width: 1023px) {
	#main-content{margin-left:60px; margin-top: 35px;}
	.home_area #sidebar{padding-left:15px; padding-right:15px;}
  .home_copy h1, .home_contact h1, h1 {font-size:2.1em;}
  .home_contact p {margin-left: 0;}
  .home_copy .tagline {font-size: 1.2em;}
	.rotator-overlay{width:180px !important; font-size:0.8em !important; padding:14px 20px !important;}
	.rotatory-overlay p{margin-bottom:5px;}
	#main-menu ul.menu{float:left; margin:0;}


	#sidebar .block {
	  margin-bottom:18px;
	}
	.home_area .fb-module p{margin: 0 -15px;}
	.home_area .fb-module .fb-button{padding: 7px 10px; font-size:1.00em; background-position:95% 50%;}

  header .span8{width:100%;}
  header {padding: 23px 0;}
  #branding a {display: inline-block; width: 270px;}

  footer {padding-top: 30px;}
  footer *[class*='span'] {}
  footer .span2{display:none;}
  footer .span4{width:30%;}
  div.footer_logos{margin:0;}
  div.footer_logos a{margin:0 20px 0 0; width:42%;}
  .footerimgs a {display: block; width: 70%;}

  .home_message{margin:-63px 0 0 0; padding:6px 0 8px 0;}
  .home_message h1{font-size:1.9em;}
  .home_area .span9{width:540px; float:right;}
  #home_news{font-size:0.8em;}
  #home_news h3{margin:23px 0 4px 0;}
  #home_buttons{padding:0 0 15px 8px;}
  #home_buttons .action_container{margin:0 3px; min-height:70px;}
  #home_buttons .action_container:nth-of-type(2){margin:0 4px 0 -3px; padding:0 3px 0 6px;}
  #home_buttons .action_button{font-family:'ralewayregular'; font-size:0.9em;color:#1F546E; display:block;background:#fff; line-height:1em; padding: 8px 10px 8px 39px;}
  #home_buttons .action_button:hover{color:#1f546e;}
  #home_buttons .action_button:hover{text-decoration:none; opacity:0.6;}
  #home_buttons .action_button span.bigword{color:#D12C2C; font-size:1.3em; margin-right:5px;}
  #home_buttons #access{background:url('images/button_icons.gif') 7px -195px no-repeat;}
  #home_buttons #use{background:url('images/button_icons.gif') 7px -253px no-repeat;}
  #home_buttons #participate{background:url('images/button_icons.gif') 7px -307px no-repeat;}
  .action_list{margin:0 0 0 12px;}
  .action_list li{font-size:0.8em;}

  .project_aside{margin-left:-20px; width:612px;}

}

/** Phone **/
@media (max-width:767px) {
	#main{padding:0;}
	#main-content{padding:0 20px 30px 20px; margin:20px 0 0 0;}
	.header-color-right{background:#fff;}
	header{padding: 13px 0;}
  #branding a {width: 47%;}
	.region-header .block{float:none;}
	#main-menu.responsive .open-menu {
		line-height:1.2em;
	}
	.topmenu ul, .block-search form{margin:0 auto;}
	.topmenu ul{display:table; font-size:0.9em;}
	#featured{margin:0;}

  /* homepage stuff */
  .home_copy {text-align: center;}
  .home_copy h1{}
  .home_copy .tagline{font-size:1.4em;}
  .home_copy ul, .home_copy p{}
  .home_copy ul{width: 80%; display: inline-block; margin-top: 12px;}
  .home_copy li {text-align: left;}
  .home_contact{ margin-bottom:20px; border:none; text-align:center;}
  .home-resource h2{font-size:1.3em;}
  .home-resource p{font-size:1.0em;}
	.home_area .span9{width:100%; float:none;}
	#home_news{margin-left:5%;}
	#home_news h3{margin:15px 0 3px 0; font-size:1.3em;}
	#sidebar{background:none; border: none; padding-bottom: 30px; margin-bottom: 0;}
  #sidebar .block-views {width: 80%; display: block; margin: 0 auto;}
  footer {text-align: center; padding-bottom: 30px;}
  .footer-menu {margin: 0;}
  .footerimgs, .footermenu {display: inline-block;}
  .footerimgs, .footerimgs img {float: none;}
  .footerimgs a {margin: 0 auto;}
	div.footer_logos img{float:left;}
	div.footer_logos img{margin:0 10px;}
	footer .span4{width:100%;}
	.action_list, div.footer_links nav, div.footer_links, div.footer_logos{
		float:none; display:table; margin:0 auto;
	} 
	.home_area .fb-module p{margin:0 auto; width:230px;}
	div.footer_links nav{font-size:0.9em;}
	div.footer_links p{margin:0;}
	div.footer_links{text-align:center;}

	.headline{font-size:1.0em; line-height:1.3em;}
	.table_imgs{table-layout:fixed;}
	.table_imgs td:first-child{width:30%; padding-right:0;}
	.table_imgs img{max-width:80%; float:left;}
	section ul{margin-left:30px;}
	.project_aside{margin:10px 0 20px 0; width:89%; font-size:0.9em; padding:10px 20px; line-height:1.5em;}
	.frame{border:none;}

}


@media (max-width:430px) {
	.portfolio-piece{float:none; position:relative; display:table; margin:10px auto;}
}


/* ----- =Menus ----- */

nav ul {
  margin:0;
}

#main-menu .container{}

#main-menu #main-menu-select,
#main-menu .open-menu {
	display:none;
}

#main-menu ul.menu {
  margin-top: 3px;
  margin-bottom: 0;
}

#main-menu ul.menu li{
	margin:0;
}

#main-menu li {
  float:left;
  list-style:none;
  padding-right:10px;
}

#main-menu li.first {background:none;}
#main-menu li.last {margin-right:5px;border-right:none;}

#main-menu a {
	color:#B4470F;
	display:block;
	font-family:'OpenSansLight';
	line-height:1.3em;
	padding:6px 12px 7px;
	font-size:1.7em;
	text-decoration:none;
}

#main-menu a.active, #main-menu a.active-trail{color:#fff;}
#main-menu a.active, #main-menu a:hover, 
#main-menu a.active-trail{background:#B4470F;}

#main-menu li > a:hover{
	color:#fff;
}

#main-menu li.expanded {
	position:relative;
}

#main-menu li.expanded ul {
  border:1px solid #292c2d;
  border-width:0 1px;
	display:none;
	position:absolute;
	z-index:10;
	white-space:nowrap;
	top:100%;
	left:-2px;
}

#main-menu li.expanded li {
	background:#373b3d url(images/main-menu.png) repeat-x;
	border:none;
	float:none;
	margin:0 0;
	padding:0;

}

#main-menu li.expanded li a {
  padding-top:8px;
  padding-bottom:9px;
}

#main-menu li.expanded li.first a {
}

#main-menu li.expanded li.first a {
	margin-left:0;
}

#main-menu li.expanded li.expanded {
	position:relative;
}

#main-menu li.expanded li.expanded ul {
	top:0;
	left:100%;
	padding:0;
}

li.expanded, li.collapsed, li.leaf {padding-top: 0;}
#secondary-menu {
	line-height:30px;
}
#secondary-menu ul {
  float:right;
  list-style:none;
}

#secondary-menu li {
  display:inline-block;
	margin:0 0 0 10px;
	padding:0;
}

#secondary-menu a {
	color:#ffffff;
	font-size:0.846em;
}

#secondary-menu a:hover {
	text-decoration:none;
}

/* Responsive navigation */
	#main-menu.responsive{
		background:#fff;
	}
	#main-menu.select-menu ul,
	#main-menu.responsive ul {
		display:none;
	}

	#main-menu.responsive ul.opened {
		display:block;
	}



	#main-menu.responsive li {
		display:block;
		background:none;
		float:none;
		list-style:none;
		margin:0;
		padding:0;
	}

	#main-menu.responsive ul li:after {
		content:"";
		display:block;
		clear:both;
	}

	/**/
	#main-menu.responsive ul ul ul {
		display:none !important;
	}

	#main-menu.responsive a {
		padding:7px 20px;
	}

#main-menu.responsive li a:hover{background:none; color:#A4391E;} 
#main-menu.responsive li a:focus,
#main-menu.responsive li a.active-trail,
#main-menu.responsive li a.active{background:none; color:#000;} 

	#main-menu.responsive li:first-child {
		display:list-item;
	}
	
	#main-menu.responsive li.first a {margin-left:0;}
	#main-menu.responsive li.last {margin-left:0;margin-right:0;}
	/*
	#main-menu.responsive li a{float:left;}
	#main-menu.responsive li a:after{content:""; display:block; clear:both;}
	*/
	
	#main-menu.responsive li.expanded ul {
		border:none;
		margin-left:12px;
		position:relative;
		z-index:auto;
		white-space:nowrap;
	}
	
	#main-menu.responsive li.expanded li {
		background:transparent;
	}
	
	#main-menu.responsive li.expanded li a {
		font-size:0.9em;
		background:none;
		border:none;
		padding:5px 25px;
	}

	#main-menu.select-menu {
		text-align: center;
		padding:3px 18px;
	}

	#main-menu.select-menu #main-menu-select {
		display: block;
		width:100%;
	}

/* ----- =Breadcrumb ----- */

.breadcrumb {
	background:none;
	font-size:0.833em;
	line-height:1em;
	margin-top:-18px;
	padding:0;
}

.breadcrumb a {
}



/* ----- =Node ----- */

.node-article {
	margin-top: 10px;
}

.node-article .node-title {
	border-bottom:none;
	padding-bottom:0;
	margin: -12px 0 22px 0;
}

.node-article .meta {
	margin-bottom:24px;
}

.node-article .user-picture {
	margin-bottom:12px;
}

@media (max-width: 767px) {
	.node-article .user-picture {
		margin-right:12px;
		margin-bottom:0;
		float:left;
	}
	
	.node-article .user-picture {
		height:138px;
		width:138px;
	}
	
	.node-article .meta-text {
		float:left;
	}
}
/*
.node-article .author {
	background:url(images/author.png) no-repeat left center;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	padding-left:22px;
}

.node-article .date {
	background:url(images/date.png) no-repeat left center;
	border-bottom:1px solid #dcdcdc;
	padding-left:22px;
}

.node-article .comment-count {
	background:url(images/comments.png) no-repeat left center;
	border-bottom:1px solid #dcdcdc;
	padding-left:22px;
}
*/

.node-article .article-image {
	margin:0 0 30px;
}

.field-name-field-article-preface, .field-name-field-preface {
	font-size:17px;
	line-height:30px;
	margin-bottom:18px;
}

.field-name-field-work-image {
	margin-bottom:30px;
}

/*
.meta .date{
	background:url(images/date.png) no-repeat left center;
	padding-left:22px;
}
*/

.article-mini-node {
  margin-bottom:12px;
}

.article-mini-node h6 {
  margin-bottom:6px;
}

.article-mini-image {
  float:left;
  margin-right:12px;
}

/* ----- =Triptychs ----- */



/* ----- =Poll ----- */

.node .poll {
  margin:0 0 1.538em;
}

.node .poll #edit-choice {
  margin:0 0 1.5em;
}

.poll .title {
	font-weight:bold;
}

.poll .vote-form {
  text-align:left;
}

.poll .vote-form .choices {
  margin: 0;
}

.poll .percent {
  font-size:0.857em;
  font-style:italic;
  margin-bottom: 3em;
  margin-top:-3.2em;
  float:right;
  text-align:right;
}

.poll .text {
  clear:right;
  margin-right:2.25em;
}

.poll .total {
  font-size:0.929em;
  font-style:italic;
  text-align:right;
  clear: both;
}

.node .poll .text {
  margin-right:6.75em;
}

.node .poll #edit-choice {
  margin:0 0 1.2em;
}

.poll .bar .foreground {
  background-color:#6ebd36;
}

.block-poll form {
	margin:0 0 10px;
}

/* ----- =Comments ----- */

.comment {
	margin-bottom:30px;
}

.comment div.user-picture img {
  margin-left:0;
}

.indented {
	margin:0;
}

.comment .attribution .username {
  white-space:nowrap;
}

.comment .submitted p {
	margin:0;
}

.comment .submitted .commenter-name {
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
}

.comment .submitted .comment-time {border-bottom:1px solid #dcdcdc;}
.comment .submitted .comment-permalink {border-bottom:1px solid #dcdcdc;}

.comment .content {
}

.comment .comment-arrow {
  background:url(images/comment-arrow.png) no-repeat left center;
  border-right:1px solid #ffffff;
  height:40px;
	left:0;
	top:30px;
  position:absolute;
  width:20px;
}

.comment ul.links {
  padding:0 0 0.25em 0;
}

.comment ul.links li {
  padding:0 0.5em 0 0;
}

.comment-unpublished {
  margin-right:5px;
  padding:5px 2px 5px 5px;
}

.comment .new {
	color:#db273d;
	font-weight:bold;
}

.comment .comment-text {
	position:relative;
}

.comment .comment-text-inner {
  border:1px solid #d3d7d9;
	margin-left:20px;
	padding:24px 30px;
}

.comment-unpublished .comment-text .comment-arrow {
  border-left:1px solid #fff4f4;
  border-right:1px solid #fff4f4;
}

/* ----- =Forms ----- */

input, textarea, select, fieldset {
  border-style:solid;
  border-width:1px;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:1em;
	margin:0 5px 0 0;
	padding:4px;
}

input:focus, textarea:focus, select:focus {
	border-color:#e34d25;
	outline:none;
}

fieldset {
	margin-bottom:10px;
}

select {
	padding:4px;
}

.form-item {
	margin:0 0 18px;
}

.form-item label {
	margin:0 0 4px;
}

.form-wrapper {}

fieldset, fieldset.filter-wrapper {
	background:#fff;
	padding:24px 30px;
}

.filter-wrapper .form-item {
	float:none;
	padding:0;
}

.filter-wrapper .filter-help {
	padding:0;
}

.filter-wrapper .filter-guidelines {
	margin:10px 0 0;
}

/* ----- =Search ----- */

#search-block-form {
	width:234px;
}

#search-block-form .form-text {
	border-color:1px solid #e0e0e0;
	border-width:1px 0 1px 1px;
	float:left;
	margin:0;
	padding:0 10px;
	width:183px;
  border-radius:13px;
	-moz-border-radius:13px 0 0 13px;
	-webkit-border-radius:13px 0 0 13px;
	border-radius:13px 0 0 13px;
  height: 26px;
}

#search-block-form .form-submit {
  background:#ffffff url(images/search.png) no-repeat center center;
	border:1px solid #e0e0e0;
	border-width:1px 1px 1px 0;
	display:block;
	float:left;
	line-height:15px;
	margin:0;
	padding:5px 14px 6px;
	text-indent:-9999px;
	-moz-border-radius:0 13px 13px 0;
	-webkit-border-radius:0 13px 13px 0;
	border-radius:0 13px 13px 0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

.region-header #search-block-form .form-text,
.region-header #search-block-form .form-submit {
	border-color:#232627;
}

/* ----- =Tabs ----- */

#tabs {
	border-bottom:1px solid #dcdcdc;
  margin-bottom:30px;
}

#tabs ul {
	border:none;
	float:left;
	line-height:26px;
	margin:0 0 1px;
	padding:0;
}

#tabs li {
	float:left;
}

#tabs a {
	background:#f2f2f2;
	border:1px solid #dcdcdc;
	border-width:1px 1px 1px 0;
	margin:0;
	padding:6px 12px;
}

#tabs li:first-child a {
	border-left-width:1px;
}

#tabs li.active a, #tabs li a:hover {
  background:#ffffff;
  border-bottom-color:#ffffff;
}

/* ----- =Tables ----- */

table {
	width:100%;
	margin:0 0 1.538em;
}



/* ----- =Forum ----- */

#forum td {
	vertical-align:middle;
}

#forum .icon {
	width:24px;
}

#forum .icon div {
	display:table-cell;
}

.node-forum .field-name-taxonomy-forums {
	margin:-25px 0 30px;
}

.node-forum .field-name-taxonomy-forums .field-label,
.node-forum .field-name-taxonomy-forums .field-items,
.node-forum .field-name-taxonomy-forums .field-item {
	display:inline;
}

/* ----- =Book ----- */

.book-navigation .menu {
  border-top-width:1px;
  border-top-style:solid;
	padding:0.5em 0 0.5em 2em;
}

.book-navigation .page-links {
  border-top-width:1px;
  border-top-style:solid;
  border-bottom-width:1px;
  border-bottom-style:solid;
	margin:0 0 1.538em;
}

.book-navigation ul li.collapsed {
	list-style-image:url(images/li-collapsed.png);
	list-style-type:disc;
}

.book-navigation ul li.expanded {
	list-style-image:url(images/li-expanded.png);
}

/*
.book-navigation ul li.leaf, #sidebar ul li {
	list-style-image:url(images/li-leaf.png);
	list-style-type:disc;
}
*/

.book-navigation .menu {
	border-top-color:#e0e0e0;
}

.book-navigation .page-links {
	border-bottom-color:#e0e0e0;
	border-top-color:#e0e0e0;
}

/* ----- =Lists ----- */

ul li.collapsed {
	list-style-image:url(images/li-collapsed.png);
	list-style-type:disc;
}

/*
ul li.expanded {
	list-style-image:url(images/li-expanded.png);
}
*/

ul li.leaf, ul li {
	list-style-image: url(images/li-leaf.png);
	list-style-type:disc;
}

/* ----- =Messages ----- */

#messages {
	margin-bottom:25px;
}

div.messages {
  margin-top:0;
}

/* ----- =Testimonials ----- */

.node-testimonial {
	margin-bottom:30px;
}

.testimonial-image {
  float:left;
  margin-right:30px;
}

.testimonial-image img {
}

.testimonial-entry {
	font-style:italic;
}

.testimonial-author {
	font-weight:bold;
}

/* ----- =Panels ----- */

#panels-dnd-main div.panel-region h2.label {
	background:transparent;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin:0;
	padding:0;
}

#panels-dnd-main div.panel-region {
	padding:6px;
	margin-bottom:6px;
	border:1px solid #dcdcdc;
	background:#fff;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

.pane-content .carousel {
	margin-bottom:0;
}

.pane-row {
	border-bottom:1px solid #dcdcdc;
	margin-bottom:24px;
	padding-bottom:24px;
}

.row-fluid:last-child .pane-row {
	border-bottom:none;
	margin-bottom:0;
	padding-bottom:0;
}

div.panel-pane div.node-testimonial {
	margin-bottom:30px;
}

div.panel-pane .views-row-last div.node-testimonial {
	margin-bottom:0;
}

/* ----- =Bootstrap Related ----- */

.accordion-heading {
	font-size:16px;
}

.accordion-heading .accordion-toggle {
	background:#ffffff;
	display:block;
	line-height:1em;
	padding:9px 18px;
}

a.accordion-toggle:hover {
	text-decoration:none;
}

.accordion-group {
	border:1px solid #dcdcdc;
	border-width:0 0 1px;
	margin:0;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}

.accordion .accordion-heading .accordion-toggle {
	background:url(images/accordion.png) no-repeat left center;
	padding-left:31px;
}

.accordion .accordion-heading .accordion-toggle.active {
	background-image:url(images/accordion-collapsed.png);
}

.ui-accordion .ui-accordion-header .shortcodes-accordion,
.ui-accordion .ui-accordion-header .shortcodes-accordion-open {
	background-color:#e34d25;
}

.accordion-inner {
	border-top:none;
	padding:0 0 9px 31px;
}

.nav-tabs {
	border-bottom:none;
	margin-bottom:0;
}

.nav-tabs li {
	list-style:none;
	margin-bottom:-1px;
}

.nav-tabs > li > a {
	border:1px solid #dcdcdc;
	line-height:1em;
	padding:9px 18px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > li > a:hover {
	background:#ffffff;
	border:1px solid #dcdcdc;
	border-bottom-color:#ffffff;
	color:#333333;
	cursor:default;
}

.nav-tabs > li > a:hover {
	cursor:pointer;
}

.tab-content {
	background:#ffffff;
	border:1px solid #dcdcdc;
	padding:24px 30px;
	margin-bottom:24px;
}

.carousel {
	margin-bottom:24px;
	line-height:inherit;
}

.carousel-control {
	background-color:#eb5639;
	background-repeat:no-repeat;
	background-position:center center;
  border:none;
	cursor:pointer;
  display:block;
	height:42px;
	margin-top:-21px;
	position:absolute;
  text-indent:-9999px;
	top:50%;
	width:42px;
	z-index:100;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.carousel-control.right {
	background-image:url(images/slider-next.png);
	right:0px;
}
.carousel-control.left {
	background-image:url(images/slider-prev.png);
	left:0px;
}

.row-fluid.title-controller {
  min-height:0;
}

.content-carousel .carousel-inner .views-field-field-image {
	margin-bottom:12px;
}

.content-carousel .carousel-inner .views-field-title {
	background:#f8f8f8;
	border:1px solid #ebebeb;
	border-width:1px 1px 0;
	font-weight:bold;
	text-transform:uppercase;
	padding:6px 12px 0;
}

.content-carousel .carousel-inner .views-field-body {
	background:#f8f8f8;
	border:1px solid #ebebeb;
	border-width:0 1px 1px;
	padding:0 12px 6px;
}

.carousel-content-controller .right, .carousel-content-controller .left {
  background-color:#e34d25;
  background-repeat:no-repeat;
  background-position:center center;
	display:inline-block;
	line-height:12px;
	padding:6px 12px;
	margin:0;
  text-indent:-9999px;
}

.carousel-content-controller .right {background-image:url(images/carousel-next.png);}
.carousel-content-controller .left {background-image:url(images/carousel-prev.png);}

@media (max-width: 767px) {
	.carousel-cell {
		margin-bottom:12px;
	}
}

.show-grid {
	margin-bottom:30px;
}

.show-grid:hover [class*="span"] {
	background:#f5f5f5;
}

.show-grid [class*="span"] {
	background-color: #fff;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 40px;
	line-height: 40px;
}

.form-actions {
  padding:0;
  margin-bottom:30px;
  background:#ffffff;
  border:none;
}

@media (max-width: 767px) {
  body {
    padding-left:0;
    padding-right:0;
  }
}

/* ----- =Views ----- */

.title-controller {
  margin-bottom:24px;
}

.title-controller h3 {
  margin-bottom:0;
}

.content-carousel .span3 {
  margin-left:30px;
  width:222px;
}

.content-carousel .carousel-inner {
  width:auto;
}

.carousel-meta {
  margin-right:30px;
}

.content-carousel {
  position:static;
}

@media (max-width:1025px){
  .carousel-meta {
    margin-right:2.7624309392265194%;
  }
  
  .content-carousel .span3 {
    margin-left: 2.7624309392265194%;
  }
  
	.content-carousel.items-3 .span3 {
    width: 31.491712707182323%;
    *width: 31.440587962806045%;
  }
  
  .content-carousel.items-2 .span3 {
    width: 48.61878453038674%;
    *width: 48.56765978601046%;
  }
  
  .content-carousel.items-1 .span3 {
    width:100%;
    *width: 99.94887525562372%;
  }
}

@media (max-width: 767px) {
  .content-carousel.items-1 .span3,
  .content-carousel.items-2 .span3,
  .content-carousel.items-3 .span3 {
    margin-left:0;
    width:222px;
  }
}

.views-view-grid .row {
  margin-bottom:30px;
}

.portfolio .work-item {
  width:306px;
  height:230px;
  position:relative;
}

.portfolio .views-field-field-work-image {
  position:absolute;
  top:0;
  left:0;
}

.portfolio .work-entry {
  background:rgba(0, 0, 0, 0.6);
  color:#cccccc;
  display:none;
  height:182px;
  left:0;
  padding:24px 30px;
  position:absolute;
  top:0;
  width:246px;
}

.portfolio .work-view a {
  background:#e34d25 url(images/slider-next.png) no-repeat center center;
  bottom:0;
  display:block;
  height:42px;
  position:absolute;
  right:0;
  text-indent:-9999px;
  width:42px;
}

.portfolio h5 {
  color:#ffffff;
}

/* ----- =Twitter Block ----- */

.twitter_block ul {
  margin-bottom:0;
}

.twitter_block .tweet {
	background:url(images/tweet.png) no-repeat left 3px;
	margin-bottom:6px;
	padding-left:28px;
}

.twitter_block .last .tweet {
  margin-bottom:0px;
}

.twitter_block .tweet .tweet_created {
	color:#a5a5a5;
	font-size:11px;
}

/* ----- =Flickr ----- */

.block-flickr .flickr-photo-img {
  height:66px;
  margin-right:3px;
  width:66px;
}

.block-flickr a:nth-child(4n+4) {
  margin-right:0;
}

/* ----- =Misc ----- */

hr {
	border-top:1px solid #d1d5db;
	border-bottom:1px solid #fbfcfc;
	height:auto;
}

ul.action-links {
	list-style-type:none;
	margin:0 0 1em;
	overflow:hidden;
	padding:0 20px;
}

ul.action-links a {
	background:url(images/action-link.png) no-repeat left center;
	padding-left:15px;
}

.item-list .pager {
	text-align:left;
}

.item-list .pager li {
	margin:0;
	padding:0;
}

.item-list .pager li a {
	border:1px solid #dcdcdc;
	color:#505050;
	font-weight:normal;
	margin:0;
	padding:3px 8px;
	text-shadow:#fff 0 1px 0;
}

.item-list .pager li.pager-current, .item-list .pager li a:hover {
	background:#e34d25;
	border:none;
	color:#ffffff;
	font-weight:normal;
	line-height:14px;
	padding:4px 9px;
	text-decoration:none;
	text-shadow:none;
}

.intro-icon {
	display:table-cell;
	padding-right:30px;
  vertical-align:top;
}

.intro-icon img {
	max-width:none;
}

.intro-text {
	display:table-cell;
	vertical-align:top;
}

@media (max-width: 1025px) {
	.intro-icon {
		padding-right:20px;
	}
}

ol.search-results {
  margin:0;
}

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/
 
#header #secondary-menu a {
	color:#666666;
}

.poll .bar {
	background-color:#e0e0e0;
}


input, textarea, select, fieldset {
	border-color:#ccc;
}



/* ----- =Buttons ----- */

.button, input.form-submit{
	background: #b7d770;
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
	background: -moz-linear-gradient(top,  #cae285, #9fcb57);
	border:1px solid #dedede;
	border-color:#adc671 #98b65b #87aa4a;
	border-radius:3px;
	color:#5d7731;
	display:inline-block;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
	font-weight:bold;
	font-size:12px;
	line-height:12px;
	padding: 8px 11px;
	text-shadow: 0 1px 0 #cfe5a4;
	text-decoration: none;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;   
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.button:hover, input.form-submit:hover {
	background: #b9d972;
	background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
	background: -moz-linear-gradient(top,  #b8d872, #b9d972);
	border-color: #8bb14d #83a648 #7d9e45;
	color:#5d7731;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
	text-decoration:none;
	text-shadow: 0 1px 0 #d5e8aa;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;  
}

.button.white, .white input.form-submit {
	background: #f5f5f5;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
	background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
	border-color: #dedede #d8d8d8 #d3d3d3;
	color: #555;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	-moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
.button.white:hover, .white input.form-submit:hover{
	background: #f4f4f4;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
	background: -moz-linear-gradient(top,  #efefef, #f8f8f8);
	border-color: #c7c7c7 #c3c3c3 #bebebe;
	color: #555;
	text-shadow: 0 1px 0 #fdfdfd;
	-webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
	-moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
	box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}

.button.grey, .grey input.form-submit{
	background: #bdbdbd;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca', endColorstr='#aeaeae'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /*  WebKit */
	background: -moz-linear-gradient(top,  #cacaca, #aeaeae);
	border-color: #b5b5b5 #a1a1a1 #8f8f8f;
	color: #555;
	text-shadow: 0 1px 0 #d4d4d4;
	-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
	-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
	box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;    
}
.button.grey:hover, .grey input.form-submit:hover{
	background: #c2c2c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /*  WebKit */
	background: -moz-linear-gradient(top,  #bcbcbc, #c2c2c2);
	border-color: #989898 #8e8e8e #878787;
	color: #555;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#c2c2c2'); /*  IE */
	text-shadow: 0 1px 0 #dadada;
	-webkit-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
	-moz-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
	box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;    
}

.button.pink, .pink input.form-submit{
	background: #f67689;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78297', endColorstr='#f56778'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f78297), to(#f56778)); /*  WebKit */
	background: -moz-linear-gradient(top,  #f78297, #f56778);
	border-color: #df6f8b #da5f75 #d55061;
	color: #913944;
	text-shadow: 0 1px 0 #f89ca9;
	-webkit-box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
	-moz-box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
	box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;    
}
.button.pink:hover, .pink input.form-submit:hover{
	background: #f67c90;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56c7e', endColorstr='#f78297'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f56c7e), to(#f78297)); /*  WebKit */
	background: -moz-linear-gradient(top,  #f56c7e, #f78297);
	border-color: #c36079 #c25669 #c14e5c;
	color: #913944;
	text-shadow: 0 1px 0 #f9a6b4;
	-webkit-box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
	-moz-box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
	box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;    
}

.button.orange, .orange input.form-submit{
	background: #fecc5f;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb4a)); /*  WebKit */
	background: -moz-linear-gradient(top,  #feda71, #febb4a);
	border-color: #f5b74e #e5a73e #d6982f;
	color: #996633;
	text-shadow: 0 1px 0 #fedd9b;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;    
}
.button.orange:hover, .orange input.form-submit:hover{
	background: #fecb5e;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354', endColorstr='#fecd61'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fec354), to(#fecd61)); /*  WebKit */
	background: -moz-linear-gradient(top,  #fec354, #fecd61);
	border-color: #d29a3a #cc9436 #c89133;
	color: #996633;
	text-shadow: 0 1px 0 #fee1a0;
	-webkit-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
	-moz-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
	box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;    
}

.button.green, input.form-submit, .green input.form-submit {
	background: #b7d770;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
	background: -moz-linear-gradient(top,  #cae285, #9fcb57);
	border-color: #adc671 #98b65b #87aa4a;
	color: #5d7731;
	text-shadow: 0 1px 0 #cfe5a4;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;    
}
.button.green:hover, input.form-submit:hover, .green input.form-submit:hover {
	background: #b9d972;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
	background: -moz-linear-gradient(top,  #b8d872, #b9d972);
	border-color: #8bb14d #83a648 #7d9e45;
	color: #5d7731;
	text-shadow: 0 1px 0 #d5e8aa;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}

.button.blue, .blue input.form-submit{
	background: #92dbf6;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4f8', endColorstr='#6fcef3'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#6fcef3)); /*  WebKit */
	background: -moz-linear-gradient(top,  #abe4f8, #6fcef3);
	border-color: #8dc5da #76b7cf #63abc7;
	color: #42788e;
	text-shadow: 0 1px 0 #b6e6f9;
	-webkit-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
	-moz-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
	box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;    
}
.button.blue:hover, .blue input.form-submit:hover{
	background: #92dbf6;
	border-color: #7caec0 #68a3ba #5a9cb5;
	color: #42788e;
	text-shadow: 0 1px 0 #bee9fa;
	-webkit-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
	-moz-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
	box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;    
}

.button.purple, .purple input.form-submit{
	background: #dfaeda;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8c4e4', endColorstr='#d494ce'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e8c4e4), to(#d494ce)); /*  WebKit */
	background: -moz-linear-gradient(top,  #e8c4e4, #d494ce);
	border-color: #bc9db9 #ad89aa #a1799d;
	color: #7b5777;
	text-shadow: 0 1px 0 #eacae6;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;    
}
.button.purple:hover, .purple input.form-submit:hover{
	background: #e0b1db;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#deabd9', endColorstr='#e0b1db'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#deabd9), to(#e0b1db)); /*  WebKit */
	background: -moz-linear-gradient(top,  #deabd9, #e0b1db);
	border-color: #a482a0 #9b7897 #947090;
	color: #7b5777;
	text-shadow: 0 1px 0 #ecd0e9;
	-webkit-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
	-moz-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
	box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;    
}

.button.teal, .teal input.form-submit{
	background: #9cedef;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7f2f4', endColorstr='#7ce7ea'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#b7f2f4), to(#7ce7ea)); /*  WebKit */
	background: -moz-linear-gradient(top,  #b7f2f4, #7ce7ea);
	border-color: #90c6c8 #78bdc0 #65b6ba;
	color: #437b7d;
	text-shadow: 0 1px 0 #bef3f5;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;    
}
.button.teal:hover, .teal input.form-submit:hover{
	background: #9fedf0;
	border-color: #7db9bb #6bb2b5 #5dacaf;
	color: #437b7d;
	text-shadow: 0 1px 0 #c5f4f6;
	-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;
	-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;
	box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;    
}

.button.darkblue, .darkblue input.form-submit{
	background: #a5b8c6;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#becbd6', endColorstr='#88a1b4'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#88a1b4)); /*  WebKit */
	background: -moz-linear-gradient(top,  #becbd6, #88a1b4);
	border-color: #a2afb8 #8696a1 #6f818f;
	color: #515f6a;
	text-shadow: 0 1px 0 #c4d0d9;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;    
}
.button.darkblue:hover, .darkblue input.form-submit:hover{
	background: #adbfcb;
	border-color: #8996a0 #798791 #6c7a85;
	color: #515f6a;
	text-shadow: 0 1px 0 #ced9e0;
	-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;
	-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;
	box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;    
}

.button.black, .black input.form-submit{
	background: #525252;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#434343'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); /*  WebKit */
	background: -moz-linear-gradient(top,  #5e5e5e, #434343);
	border-color: #4c4c4c #313131 #1f1f1f;
	color: #fff;
	text-shadow: 0 1px 0 #2e2e2e;
	-webkit-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
	-moz-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
	box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;    
}
.button.black:hover, .black input.form-submit:hover{
	background: #5a5a5a;
	border-color: #2c2c2c #1c1c1c #101010;
	color: #fff;
	text-shadow: 0 1px 0 #363636;
	-webkit-box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
	-moz-box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
	box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;    
}
